<%- include('partials/header') -%>
<!-- Page Wrapper -->
<div id="page-wrapper">
  <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><img src="/images/logo.png" class="icon" alt=""></div>    
        <h2>KJ Pizza - MySchedule</h2>
      </div>
    </section>

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="table-wrapper">
            <form action="/schedules/createSchedule" method="post">
                <label for="startdate" id="startdatelabel">Select Monday's Date</label>
                    <input type="date" name="startdate" id="startdate">
            <table>
              <thead>
                <!-- dates in the blank spots -->
                <tr>
                    <th>Name</th>
                    <th>Mon</th>
                    <th></th>
                    <th>Tues</th>
                    <th></th>
                    <th>Wed</th>
                    <th></th>
                    <th>Thus</th>
                    <th></th>
                    <th>Fri</th>
                    <th></th>
                    <th>Sat</th>
                    <th></th>
                    <th>Sun</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Managers</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                </tr>
              </thead>
              <tbody> 
                <% for(let i=0; i<gm.length; i++){ %> 
                <tr>
                    <td><%=`${gm[i].firstName}`%></td>
                    <td><select name="mondayIn_<%=`${gm[i]._id}`%>" id="mondayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="mondayOut_<%=`${gm[i]._id}`%>" id="mondayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="tuesdayIn_<%=`${gm[i]._id}`%>" id="tuesdayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="tuesdayOut_<%=`${gm[i]._id}`%>" id="tuesdayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="wednesdayIn_<%=`${gm[i]._id}`%>" id="wednesdayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="wednesdayOut_<%=`${gm[i]._id}`%>" id="wednesdayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="thursdayIn_<%=`${gm[i]._id}`%>" id="thursdayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="thursdayOut_<%=`${gm[i]._id}`%>" id="thursdayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="fridayIn_<%=`${gm[i]._id}`%>" id="fridayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>       
                    <td><select name="fridayOut_<%=`${gm[i]._id}`%>" id="fridayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="saturdayIn_<%=`${gm[i]._id}`%>" id="saturdayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="saturdayOut_<%=`${gm[i]._id}`%>" id="saturdayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="sundayIn_<%=`${gm[i]._id}`%>" id="sundayIn_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>
                    <td><select name="sundayOut_<%=`${gm[i]._id}`%>" id="sundayOut_<%=`${gm[i]._id}`%>" class="schedule">
                        <option value = "off" selected>OFF</option>
                        <option value="10:00am">10:00am</option>
                        <option value="10:30am">10:30am</option>
                        <option value="11:00am">11:00am</option>
                        <option value="11:30am">11:30am</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                        <option value="10:00pm">10:00pm</option>
                    </td>                                   
                </tr>   
                <% } %>
                <% for(let i=0; i<managers.length; i++){ %> 
                    <tr>
                        <td><%=`${managers[i].firstName}`%></td>
                        <td><select name="mondayIn_<%=`${managers[i]._id}`%>" id="mondayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="mondayOut_<%=`${managers[i]._id}`%>" id="mondayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="tuesdayIn_<%=`${managers[i]._id}`%>" id="tuesdayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="tuesdayOut_<%=`${managers[i]._id}`%>" id="tuesdayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="wednesdayIn_<%=`${managers[i]._id}`%>" id="wednesdayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="wednesdayOut_<%=`${managers[i]._id}`%>" id="wednesdayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="thursdayIn_<%=`${managers[i]._id}`%>" id="thursdayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="thursdayOut_<%=`${managers[i]._id}`%>" id="thursdayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="fridayIn_<%=`${managers[i]._id}`%>" id="fridayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>       
                        <td><select name="fridayOut_<%=`${managers[i]._id}`%>" id="fridayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="saturdayIn_<%=`${managers[i]._id}`%>" id="saturdayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="saturdayOut_<%=`${managers[i]._id}`%>" id="saturdayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="sundayIn_<%=`${managers[i]._id}`%>" id="sundayIn_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="sundayOut_<%=`${managers[i]._id}`%>" id="sundayOut_<%=`${managers[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>                                   
                    </tr> 
                    <% } %>
                <tr>
                    <td>Crew</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                    <td>In</td>
                    <td>out</td>
                </tr>
                <!-- CREW TEMPLATE -->
                <% for(let i=0; i<crew.length; i++){ %> 
                    <tr>
                        <td><%=`${crew[i].firstName}`%></td>
                        <td><select name="mondayIn_<%=`${crew[i]._id}`%>" id="mondayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="mondayOut_<%=`${crew[i]._id}`%>" id="mondayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="tuesdayIn_<%=`${crew[i]._id}`%>" id="tuesdayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="tuesdayOut_<%=`${crew[i]._id}`%>" id="tuesdayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="wednesdayIn_<%=`${crew[i]._id}`%>" id="wednesdayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="wednesdayOut_<%=`${crew[i]._id}`%>" id="wednesdayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="thursdayIn_<%=`${crew[i]._id}`%>" id="thursdayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="thursdayOut_<%=`${crew[i]._id}`%>" id="thursdayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="fridayIn_<%=`${crew[i]._id}`%>" id="fridayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>       
                        <td><select name="fridayOut_<%=`${crew[i]._id}`%>" id="fridayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="saturdayIn_<%=`${crew[i]._id}`%>" id="saturdayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="saturdayOut_<%=`${crew[i]._id}`%>" id="saturdayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="sundayIn_<%=`${crew[i]._id}`%>" id="sundayIn_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>
                        <td><select name="sundayOut_<%=`${crew[i]._id}`%>" id="sundayOut_<%=`${crew[i]._id}`%>" class="schedule">
                            <option value = "off" selected>OFF</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="12:30pm">12:30pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                            <option value="6:30pm">6:30pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="7:30pm">7:30pm</option>
                            <option value="8:00pm">8:00pm</option>
                            <option value="8:30pm">8:30pm</option>
                            <option value="9:00pm">9:00pm</option>
                            <option value="9:30pm">9:30pm</option>
                            <option value="10:00pm">10:00pm</option>
                        </td>                                   
                    </tr>
                    <% } %>
                <tr>
              </tbody>  
            </table>
            <input type="checkbox" id="finalized" name="finalized" value="Finalized">
            <label for="finalized">Finalized</label>
            <ul class="actions">
                <li><input type="submit" value="Submit"/></li>
            </ul>
        </form>
            </div>


        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <div class ="features">
                  <a href="/profile" class="button">Back</a>
                  <a href="/logout" class="button">Logout</a>
                </div>  
        </section>
<%- include('partials/footer') -%>